*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(3, 36, 58);
}
div.container{
    width: 75%;
    height: 100%;
    margin: auto;
    height: 300px;
    margin-top: 22px;
}
.header{
    display: flex;
    margin-top: 20px;
    max-height: 350px;
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    background-color:white;
    margin-bottom: 1px;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-image: url(./src/back.jpg);
    position: relative;

}
.brief{
    margin-top: 20px;
    text-indent: 30px;
    flex: 4;
    min-width: 350px;
}
h2{
    color:rgb(3, 36, 58);
    text-shadow: 1px 1px 3px rgb(184, 184, 184);
    margin-bottom: 5px;
}
h2 +h4{
    color: aliceblue;
    background-color: rgb(153, 4, 4);
    width: 300px;
    height: 25px;
    line-height: 25px;
}
.links img{
    width: 35px;
    margin-top: 5px;
    margin-right: 5px;
}
.img{
    height: 200px; 
    overflow: hidden;
    border-radius: 0px 0px 0px 70px;
    margin-left: auto;
}
img{
    flex: 1;
    width: 250px;
    size-adjust: 200px;
}
nav{
    height: 50px;
    background-color:rgb(255, 255, 255);
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: sticky;
    top:40px;
}
nav ul{display: flex;
    width:500px ;
    height: 100%;
    list-style: none;
    justify-content: center; 
    align-items: center;
 
}

nav ul li a{ cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    height: 70%;
    width:100px;
    transition: .1s;
}
nav ul li:first-child{
    margin-right: 5px;
}
nav ul li:hover a{
    background-color: rgb(3, 36, 58);
    border-radius: 5px;
    color: white;
    width: 100px;
    letter-spacing: 1px;
}
a,a:active,a:visited{
    text-decoration: none;
    color: black;
}

#pro , #skills{
    min-height:100vh;
    margin-top: 2px;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    background-image: url(./src/back.jpg);
    font-size: 1.10rem;
}
#pro h3,#skills h3{
    border-bottom: 2px solid black;
    margin: 10px 0 20px 0;
    text-indent: 30px;
    height:50px ;
    line-height: 50px;
    width: 300px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(3, 36, 58);
    color: white;
}
#pro p,#skills p{
    padding: 5px 30px;
    margin-left: 30px;
    max-width:90% ;
    text-wrap: wrap;
    text-align: justify;
    line-height: 2rem;
}

#pro h4 ,#skills h4{
    padding: 15px;
    margin-bottom: 10px;
    color: rgb(0, 72, 155);
    border-bottom: .5px solid rgb(229, 229, 255);
    margin-left: 30px;
    width: 450px;

}

#pro ul , #skills ul {
    margin-left: 50px;
    list-style-position: inside;
    margin-bottom: 10px;
    
}
#pro ul li, #skills ul li{
    margin-bottom:10px ;
}
#skills{
    padding-bottom: 30px;
}

@media screen and ( max-width:500px){
    div.container{
    width: 98%;
    height: 100%;
    margin: auto;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
}
.header{
    display: flex;
    margin-top: 5px;
    max-height: 600px;
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    background-color:white;
    margin-bottom: 1px;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-image: url(./src/back.jpg);
    position: relative;
}
.img{
    height: 200px; 
    width: 200px;
    overflow: hidden;
    border-radius:50%;
    margin: auto;
}

#pro , #skills{
    min-height:100vh;
    margin-top: 2px;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    background-image: url(./src/back.jpg);
    font-size: 1rem;
}
#pro p{
    padding: 5px 5px;
    margin: auto;
    max-width:90% ;
    text-wrap: wrap;
    text-align: justify;
    line-height: 2rem;
}
}
